:root {
  --red: #c5004a;
  --darkred: #7f0036;
  --lightpink: #fed5e5;
  --lightgray: #c0c0c0;
  --gray: #666;
  --darkgray: #333;
  --navy: #17050f;
  --blue: #082840;
  --white: #fff;
  --offwhite: #fafafa;
  --grid--header--narrow: 160px 1fr;
  --grid--narrow: 1fr;
  --grid--base: calc(50vw - 37.25rem) [content-bleed-start] 1fr
    [content-gutter-start] 100px [content-start] repeat(6, [col-start] 1fr)
    [content-end] 100px [content-gutter-end] 1fr [content-bleed-end]
    calc(50vw - 37.25rem);
  --grid--wide: calc(50vw - 31.25rem) [content-bleed-start] 1fr
    [content-gutter-start] 100px [content-start] repeat(6, [col-start] 1fr)
    [content-end] 100px [content-gutter-end] 1fr [content-bleed-end]
    calc(50vw - 31.25rem);
  --grid--books--list--narrow: repeat(auto-fit, minmax(110px, 1fr));
  --grid--books--list--wide: repeat(auto-fit, minmax(120px, 1fr));
}
* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, serif;
  color: var(--darkgray);
  background-color: var(--offwhite);
  height: 100vh;
}

/* @media (min-width: 60rem) {
  html,
  body {
    font-size: 112.5%;
  }
} */

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  padding: 0 0 0 1em;
  list-style-position: outside;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    ul,
    ol {
      padding: 0 0 0 1.4em;
    }
  }
}

@media (min-width: 45em) {
  ul,
  ol {
    padding: 0;
    list-style-position: outside;
  }
}

.tmpl-post li {
  max-width: 37.5em; /* 600px /16 */
}

.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--red);
}
a[href]:visited {
  color: var(--red);
}

hr {
  border: 0;
  height: 2px;
  background: var(--lightgray);
  grid-column: 1;
  width: 100%;
  margin: 3em 0 2em 0;
}

@media (min-width: 45rem) {
  hr {
    grid-column: content-start / content-end;
  }
}

header {
  border-bottom: 1px dotted var(--lightgray);
  display: grid;
  grid-template-columns: var(--grid--header--narrow);
}

@media (min-width: 45rem) {
  header {
    grid-template-columns: var(--grid--base);
  }
}

@media (min-width: 60rem) {
  header {
    grid-template-columns: var(--grid--wide);
  }
}

footer {
  display: grid;
  grid-template-columns: var(--grid--narrow);
  padding: 2rem 0;
  margin-top: 2em;
  border-top: 1px dotted var(--lightgray);
}

.footer--copyright {
  margin-left: 1rem;
}

@media (min-width: 45rem) {
  footer {
    grid-template-columns: var(--grid--base);
  }
  .footer--copyright {
    grid-column: content-start / content-end;
    margin-left: 0;
  }
}

@media (min-width: 60rem) {
  footer {
    grid-template-columns: var(--grid--wide);
  }
  .footer--copyright {
    grid-column: content-start / content-end;
    margin-left: 0;
  }
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
}
pre {
  font-size: 0.8em;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 1em 0 1em 1em;
  background-color: #f6f6f6;
}

code {
  font-size: 0.8em;
  background-color: var(--lightpink);
}

pre code {
  font-size: 1em;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    pre {
      margin: 1em 0 1em 1.4em;
    }
  }
}

.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, 0.8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Citations w/in Blockquote */

cite {
  font-style: normal;
  font-size: 0.8em;
}

/* Images */
figure {
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 95vh;
}

figcaption {
  font-family: sans-serif;
  font-size: 0.8em;
  color: var(--darkgray);
}

/* Header */
.home {
  padding: 0 1em;
  font-family: sans-serif;
  font-weight: 400;
  margin: 1em 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
  grid-column: 1;
}

.home a[href],
.home a[href]:visited {
  text-decoration: none;
  color: var(--red);
}

@media (min-width: 45em) {
  .home {
    grid-column: content-bleed-start / content-start;
  }
}

@media (min-width: 65em) {
  .home {
    padding: 0;
  }
}

.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  grid-column: 2;
  /* float: left; */
  /* margin-left: 1em; */
}

@media (min-width: 45em) {
  .nav {
    grid-column: content-start / content-bleed-end;
  }
}

.nav-item {
  display: inline-block;
  margin-right: 1em;
}

.nav-item a {
  text-decoration: none;
}

.nav-item a[data-state="active"] {
  text-decoration: underline;
}

.footer--copyright .nav-item {
  margin: 0 1em 2em 0;
}

.footer--copyright .nav-item a {
  text-decoration: underline;
}

/* Homepage */

.tmpl-home h1 {
  font-weight: 400;
  grid-column: 1;
}

@media (min-width: 45rem) {
  .tmpl-home h1 {
    grid-column: content-start / content-end;
  }
}

.tmpl-home h2 {
  font-weight: 400;
  grid-column: 1;
}

@media (min-width: 45rem) {
  .tmpl-home h2 {
    grid-column: content-start / content-end;
  }
}

.home--bio {
  grid-column: 1;
}

@media (min-width: 45rem) {
  .home--bio {
    grid-column: content-start / content-end;
  }
}

@media (min-width: 60rem) {
  .tmpl-home .bookslist {
    grid-column: content-start / content-end;
  }
}

/* Posts list */
.tmpl-posts-list h1 {
  grid-column: 1;
  font-weight: 400;
}

@media (min-width: 45rem) {
  .tmpl-posts-list h1 {
    grid-column: content-start / content-bleed-end;
  }
}

.postlist {
  list-style: none;
  padding: 0;
}

@media (min-width: 45rem) {
  .postlist {
    grid-column: content-start / content-end;
  }
}

@media (min-width: 60rem) {
  .postlist {
    font-size: 1.125rem;
  }
}

.postlist-item {
  margin-bottom: 2em;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 2em;
}

.postlist-item:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.postlist-item .post--meta {
  font-style: italic;
  font-size: 0.9em;
}

.postlist-link {
  display: inline-block;
  padding: 0;
  color: var(--red);
}

a[href].postlist-link:visited {
  color: var(--red);
}

.postlist-item-active .postlist-link {
  font-weight: bold;
}

.postlist-link {
  font-size: 1.125em; /* 19px /16 */
}

/* Tags List */
.tag {
  color: var(--red);
}
a[href].tag,
a[href].tag:visited {
  color: var(--red);
}

.tmpl-tags-list h1 {
  grid-column: 1;
  font-weight: 400;
}

@media (min-width: 45rem) {
  .tmpl-tags-list h1 {
    grid-column: content-start / content-bleed-end;
  }
}

.tmpl-tags-list .postlist-item {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

/* Tag Detail */

.tmpl-tag-detail h1 {
  grid-column: 1;
  font-weight: 400;
}

@media (min-width: 45rem) {
  .tmpl-tag-detail h1 {
    grid-column: content-start / content-bleed-end;
  }
}

/* .tmpl-tag-detail .postlist-item {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
} */

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* Post */

body {
  font-family: Georgia, Times, serif;
  line-height: 1.4;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  display: grid;
  grid-template-columns: var(--grid--narrow);
  margin: 2em 1em 0 1em;
}

@media (min-width: 45rem) {
  .container {
    display: grid;
    grid-template-columns: var(--grid--base);
    margin: 2em 0;
  }
}

@media (min-width: 60rem) {
  .container {
    display: grid;
    grid-template-columns: var(--grid--wide);
    margin: 2em 0;
    font-size: 1.125rem;
  }
}

.tmpl-post h1 {
  font-size: 2em;
  font-weight: 400;
  grid-column: 1;
  margin-bottom: 0.25em;
}

@media (min-width: 45em) {
  .tmpl-post h1 {
    grid-column: content-start / content-end;
  }
}

.post--meta {
  grid-column: 1;
  margin-bottom: 2em;
  font-family: sans-serif;
  font-size: 0.9em;
  color: var(--gray);
}

@media (min-width: 45em) {
  .post--meta {
    grid-column: content-start / content-end;
    margin-bottom: 3em;
  }
}

.tmpl-post h2 {
  font-size: 1.5em;
  font-weight: 400;
  grid-column: 1;
  margin-bottom: 0;
}

@media (min-width: 45em) {
  .tmpl-post h2 {
    grid-column: content-start / content-end;
  }
}

.tmpl-post h3 {
  font-size: 1.25em;
  font-weight: 400;
  grid-column: 1;
}

@media (min-width: 45em) {
  .tmpl-post h3 {
    grid-column: content-start / content-end;
  }
}

.tmpl-post h4 {
  font-size: 1em;
  font-weight: 700;
  grid-column: 1;
}

@media (min-width: 45em) {
  .tmpl-post h4 {
    grid-column: content-start / content-end;
  }
}

.tmpl-post ul,
.tmpl-post ol {
  grid-column: 1;
}

@media (min-width: 45em) {
  .tmpl-post ul,
  .tmpl-post ol {
    grid-column: content-start / content-end;
  }
}

.tmpl-post figure {
  /* margin: 0 0 1em 0; */
  grid-column: 1;
  margin: 1em 0 1em 0;
}

@media (min-width: 45em) {
  .tmpl-post figure {
    grid-column: content-start / content-end;
  }
}

.tmpl-post .cinemascope {
  grid-column: 1;
  justify-self: center;
}

@media (min-width: 45rem) {
  .tmpl-post .cinemascope {
    grid-column: content-bleed-start / content-bleed-end;
    /* justify-self: center; */
  }
  .tmpl-post .cinemascope figcaption {
    margin-left: 1em;
  }
}

@media (min-width: 82rem) {
  .tmpl-post .cinemascope figcaption {
    margin-left: 0;
  }
}

.tmpl-post .normal {
  grid-column: content-start / content-end;
}

.tmpl-post .container > p {
  /* grid-column: content-start / content-end; */
  grid-column: 1;
  hanging-punctuation: first;
}

@media (min-width: 45em) {
  .tmpl-post .container > p {
    grid-column: content-start / content-end;
  }
}

blockquote {
  border-left: 2px solid #e2e2e2;
  grid-column: 1;
  margin: 1em 0;
  padding-left: 1em;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    blockquote {
      padding-left: 1.4em;
    }
  }
}

@media (min-width: 45em) {
  blockquote {
    grid-column: content-start / content-end;
    margin: 2em 0 2em -1.1em;
    padding-left: 1em;
  }
}

.tmpl-post .container > blockquote > p:first-child {
  margin-top: 0;
}

.tmpl-post .aside-right-wrap {
  grid-column: 1;
}

@media (min-width: 45em) {
  .tmpl-post .aside-right-wrap {
    grid-column: content-start / content-gutter-end;
  }
}

.tmpl-post .aside-right-wrap > p {
  line-height: 1.4;
}

.tmpl-post .aside-right-wrap > aside {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-style: italic;
}

.tmpl-post .aside-right-wrap > aside > p:last-child {
  margin-bottom: 1em;
}

.pagination--inner {
  grid-column: 1;
  border-top: 1px dashed var(--lightgray);
  margin-top: 2em;
  padding-top: 1em;
  font-size: 1rem;
}

.post--next-previous-link {
  grid-column: 1;
}

@media (min-width: 45em) {
  .post--next-previous-link {
    grid-column: content-start / content-end;
  }

  .pagination--inner {
    display: flex;
  }

  .pagination--next-only {
    justify-content: flex-end;
  }

  .pagination--inner .left,
  .pagination--inner .right {
    flex-grow: 1;
  }

  .pagination--inner .right {
    text-align: right;
  }
}

@media (min-width: 65em) {
  .tmpl-books-list .post--next-previous-link {
    grid-column: content-bleed-start / content-bleed-end;
  }
}

@media (min-width: 45em) {
  .tmpl-post .aside-right-wrap {
    grid-column: content-start / content-gutter-end;
    display: flex;
    align-items: flex-start;
  }

  .tmpl-post .aside-right-wrap > p {
    line-height: 1.4;
    flex: 2 70%;
  }

  .tmpl-post .aside-right-wrap > aside {
    padding: 0;
    margin-left: 1em;
    font-style: italic;
    margin-top: 1em;
    border-left: 2px solid #ccc;
    border-top: none;
    border-bottom: none;
    flex: 1 30%;
  }

  .tmpl-post .aside-right-wrap > aside > p {
    padding: 0 0 0 1em;
    margin: 0;
    line-height: 1.5;
  }
}

.tmpl-post .aside-left-wrap {
  grid-column: 1;
}
@media (min-width: 45em) {
  .tmpl-post .aside-left-wrap {
    grid-column: content-start / content-end;
  }
}

.tmpl-post .aside-left-wrap > aside {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-style: italic;
}

.tmpl-post .aside-left-wrap > aside > p:last-child {
  margin-bottom: 1em;
}

@media (min-width: 45em) {
  .tmpl-post .aside-left-wrap {
    grid-column: content-gutter-start / content-end;
    display: flex;
    align-items: flex-start;
  }

  .tmpl-post .aside-left-wrap > aside {
    order: 1;
    padding: 0 1em 0 0;
    margin-top: 1em;
    margin-right: 2em;
    font-style: italic;
    border-right: 2px solid #ccc;
    border-top: none;
    border-bottom: none;
    flex: 1 30%;
  }
  .tmpl-post .aside-left-wrap > aside > p {
    margin: 0;
  }

  .tmpl-post .aside-left-wrap > p {
    line-height: 1.4;
    order: 2;
    flex: 2 70%;
  }
}

@media (min-width: 60rem) {
  .tmpl-post .aside-left-wrap > aside {
    padding-right: 0.5em;
  }
}

/* .tmpl-post figure {
  grid-column: content-start / content-end;
} */

.tmpl-post pre {
  grid-column: 1;
}

@media (min-width: 45em) {
  .tmpl-post pre {
    grid-column: content-start / content-end;
    margin-left: 0;
  }
}

.footnotes-sep {
  margin: 3em 0 1em 0;
}

.footnotes {
  grid-column: 1;
  font-size: 0.9rem;
}

@media (min-width: 45rem) {
  .footnotes {
    grid-column: content-start / content-end;
  }
}

.footnote-ref a[href],
.footnote-ref a[href]:visited {
  text-decoration: none;
  color: var(--red);
  margin: 0 0 0 0.1em;
}

/* Image Grid */

/* set a max width, and center */
.gallery {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  grid-column: content-start / content-end;
}

.gallery > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(6, 200px);
  grid-gap: 1em;
  grid-auto-flow: dense;
  padding: 0;
}

.gallery > ul > li {
  list-style: none;
}

.gallery > ul > li:nth-child(4n) {
  grid-column: span 2; /* Spans two columns */
  grid-row: span 2; /* Spans two rows */
}

/* This will create 3x images every 8 elements */
.gallery > ul > li:nth-child(8n) {
  grid-column: span 3;
  grid-row: span 3;
}
.gallery > ul > li > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Book Detail */
.tmpl-book .book-details {
  grid-column: 1;
}

@media (min-width: 25em) {
  .tmpl-book .book-details {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
  }
}

@media (min-width: 45rem) {
  .tmpl-book .book-details {
    grid-column: content-bleed-start / content-bleed-end;
  }
}

.tmpl-book .book-cover {
  padding: 0 1em 1em 0;
}

@media (min-width: 25rem) {
  .tmpl-book .book-cover {
    padding: 0 1em 0 0;
  }
}

.tmpl-book .book-details h1 {
  font-size: 1.25em;
  font-style: italic;
  font-weight: 400;
  margin: 0;
}

.tmpl-book .book-details h2 {
  font-size: 1em;
  font-weight: 400;
  margin: 0.25em 0 0 0;
}

.tmpl-book .book-thumb {
  max-width: 100%;
  width: 100%;
}

.tmpl-book .book-meta {
  margin: 0;
  padding: 0;
}

@media (min-width: 25rem) {
  .tmpl-book .book-meta {
    padding: 0 0 0 1em;
  }
}

.tmpl-book .book-meta dl {
  font-size: 0.8em;
  margin-top: 2em;
}

.tmpl-book .book-meta dt {
  color: #666666;
  font-weight: 400;
}

.tmpl-book .book-meta dd {
  margin: 0 0 0.4em 0;
  font-weight: 400;
}

.tmpl-book .book-meta dd:last-child {
  margin: 0;
}

.tmpl-book .book-thumb img {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

@media (min-width: 45em) {
  .tmpl-book .book-body {
    grid-column: content-start;
    margin-top: 1em;
  }
}

.tmpl-book .book--books-list-link {
  grid-column: content-start / content-end;
  border-top: 1px dashed var(--lightgray);
  margin-top: 2em;
  padding-top: 1em;
}

@media (min-width: 45rem) {
  .tmpl-book .container {
    display: grid;
    grid-template-columns: var(--grid--base);
    margin: 2em 0;
  }

  .tmpl-book .book-details h1 {
    margin: 0;
  }
  .tmpl-book .book-details h2 {
    margin: 0;
  }
  .tmpl-book .book-details {
    grid-column: content-gutter-start / content-gutter-end;
    display: grid;
    grid-template-columns:
      [book-detail-gutter-start] 100px
      [book-detail-start] 1fr 2fr
      [book-detail-end] 100px
      [book-detail-gutter-end];
    /* background: #ededed; */
    padding: 1em 0;
    justify-items: left;
  }

  .tmpl-book .book-cover {
    grid-column: book-detail-start;
    padding: 0;
  }

  .tmpl-book .book-meta {
    margin: -0.5em 0 0 0;
    padding: 0 0 0 3em;
    border: none;
  }

  .tmpl-book .book-meta dd {
    margin: 0 0 0.5em 0;
  }

  .tmpl-book .book-body {
    grid-column: content-start / span 6;
  }
}

@media (min-width: 60rem) {
  .tmpl-book .container {
    grid-template-columns: var(--grid--wide);
    font-size: 1.125rem;
  }
  .tmpl-book .book-details h1 {
    font-size: 2em;
    font-style: italic;
    margin: 0;
  }
  .tmpl-book .book-details h2 {
    margin: 0.5em 0 0 0;
  }

  .tmpl-book .book-meta dl {
    margin: 3em 0 0 0;
  }
}

/* Books List */

.tmpl-books-list .container {
  display: grid;
  grid-template-columns: var(--grid--narrow);
}

@media (min-width: 45rem) {
  .tmpl-books-list .container {
    grid-template-columns: var(--grid--base);
    margin: 2em 0;
  }
}

@media (min-width: 60rem) {
  .tmpl-books-list .container {
    grid-template-columns: var(--grid--wide);
    font-size: 1.125rem;
  }
}

/* h1 for books archive */
.books-list-title {
  font-size: 2em;
  grid-column: 1;
  font-weight: 400;
}

@media (min-width: 45em) {
  .books-list-title {
    grid-column: content-start / content-end;
  }
}

.bookslist {
  display: grid;
  grid-template-columns: var(--grid--books--list--narrow);
  grid-auto-rows: 1fr;
  grid-gap: 1em;
  justify-items: left;
  grid-column: 1;
  list-style: none;
  padding: 0;
}

@media (min-width: 45em) {
  .bookslist {
    grid-template-columns: var(--grid--books--list--wide);
    grid-column: content-start / content-end;
  }
}

@media (min-width: 65em) {
  .bookslist {
    grid-column: content-bleed-start / content-bleed-end;
    grid-gap: 2em;
  }
  .books-list-title {
    grid-column: content-bleed-start / content-bleed-end;
  }
}

.bookslist-item {
  /* background: #ededed; */
  border: 0;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;
  max-width: 130px;
}

.bookslist-item a[href].postlist-link {
  text-decoration: none;
  color: var(--darkgray);
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.bookslist-item a[href].postlist-link:visited {
  text-decoration: none;
  color: var(--darkgray);
}

.bookslist-item .book-meta-title {
  font-size: 0.9em;
  font-style: italic;
  font-weight: 400;
  margin: 0.5em 0 0 0;
}

.bookslist-item .book-meta-author {
  font-size: 0.8em;
  font-weight: 400;
  margin: 0.25em 0 0 0;
}

.bookslist-item .book-meta-finished {
  font-size: 0.75em;
  font-family: sans-serif;
  margin-top: 1em;
}

.bookslist-item .book-thumb {
  max-width: 100%;
  width: 100%;
  height: 220px;
  object-fit: contain;
  object-position: bottom;
}

/* Image Grid */

/* set a max width, and center */
.gallery {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  grid-column: content-start / content-end;
}

.gallery > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(6, 200px);
  grid-gap: 1em;
  grid-auto-flow: dense;
  padding: 0;
}

.gallery > ul > li {
  list-style: none;
}

.gallery > ul > li:nth-child(4n) {
  grid-column: span 2; /* Spans two columns */
  grid-row: span 2; /* Spans two rows */
}

/* This will create 3x images every 8 elements */
.gallery > ul > li:nth-child(8n) {
  grid-column: span 3;
  grid-row: span 3;
}
.gallery > ul > li > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
