:root {
  --red: #c5004a;
  --darkred: #7f0036;
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #333;
  --navy: #17050f;
  --blue: #082840;
  --white: #fff;
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, serif;
  color: var(--darkgray);
  background-color: var(--white);
}

/* body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
} */

p:last-child {
  margin-bottom: 0;
}

.tmpl-post li {
  max-width: 37.5em; /* 600px /16 */
}

.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}
main {
  padding: 1rem;
}
/* main :first-child {
  margin-top: 0;
} */
header {
  border-bottom: 1px dashed var(--lightgray);
}
header:after {
  content: "";
  display: table;
  clear: both;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, 0.8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}

.postlist-item {
  margin-bottom: 2em;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 2em;
}

.postlist-item .post-meta {
  font-style: italic;
  font-size: 0.9em;
}

.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
  color: var(--red);
}

a[href].postlist-link:visited {
  color: var(--red);
}

.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}

/* Tags */
.tag {
  color: var(--red);
}
a[href].tag,
a[href].tag:visited {
  color: var(--red);
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* Post */

body {
  font-family: Georgia, Times, serif;
  line-height: 1.4;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 45em) {
  .container {
    display: grid;
    grid-template-columns:
      [content-bleed-start] minmax(1em, 2%)
      [content-gutter-start] 100px
      [content-start] repeat(5, [col-start] 1fr)
      [content-end] 100px
      [content-gutter-end] minmax(1em, 2%) [content-bleed-end];
    grid-template-rows: auto;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 60em) {
  .container {
    grid-template-columns:
      [content-bleed-start] minmax(1em, 10%)
      [content-gutter-start] 100px
      [content-start] repeat(5, [col-start] 1fr)
      [content-end] 100px
      [content-gutter-end] minmax(1em, 10%) [content-bleed-end];
  }
}

h1 {
  grid-column: content-start / content-end;
}

h2 {
  grid-column: content-start / content-end;
}

ul {
  grid-column: content-start / content-end;
}

.post-meta {
  grid-column: content-start / content-end;
}

figure {
  margin: 0;
  grid-column: content-start / content-end;
}

img {
  max-width: 100%;
  max-height: 95vh;
}
.cinemascope {
  grid-column: content-bleed-start / content-bleed-end;
  justify-self: center;
}

.normal {
  grid-column: content-start / content-end;
}

.container > p {
  grid-column: content-start / content-end;
}

.aside-right-wrap {
  grid-column: content-start / content-gutter-end;
}

.aside-right-wrap > p {
  line-height: 1.4;
}

.aside-right-wrap > aside {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-style: italic;
}

.aside-right-wrap > aside > p:last-child {
  margin-bottom: 1em;
}

@media (min-width: 45em) {
  .aside-right-wrap {
    grid-column: content-start / content-gutter-end;
    display: flex;
    align-items: flex-start;
  }

  .aside-right-wrap > p {
    line-height: 1.4;
    flex: 2 70%;
  }

  .aside-right-wrap > aside {
    padding: 0;
    margin-left: 1em;
    font-style: italic;
    margin-top: 1em;
    border-left: 2px solid #ccc;
    border-top: none;
    border-bottom: none;
    flex: 1 30%;
  }

  .aside-right-wrap > aside > p {
    padding: 0 0 0 1em;
    margin: 0;
    line-height: 1.5;
  }
}

.aside-left-wrap {
  grid-column: content-start / content-end;
}

.aside-left-wrap > aside {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-style: italic;
}

.aside-left-wrap > aside > p:last-child {
  margin-bottom: 1em;
}

@media (min-width: 45em) {
  .aside-left-wrap {
    grid-column: content-gutter-start / content-end;
    display: flex;
    align-items: flex-start;
  }

  .aside-left-wrap > aside {
    order: 1;
    padding: 0;
    margin-right: 2em;
    font-style: italic;
    margin-top: 1em;
    border-right: 2px solid #ccc;
    border-top: none;
    border-bottom: none;
    flex: 1 30%;
  }
  .aside-left-wrap > aside > p {
    margin: 0;
  }

  .aside-left-wrap > p {
    line-height: 1.4;
    order: 2;
    flex: 2 70%;
  }
}

figure {
  grid-column: content-start / content-end;
}

pre {
  grid-column: content-start / content-end;
}

/* Image Grid */

/* set a max width, and center */
.gallery {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  grid-column: content-start / content-end;
}

.gallery > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(6, 200px);
  grid-gap: 1rem;
  grid-auto-flow: dense;
  padding: 0;
}

.gallery > ul > li {
  list-style: none;
}

.gallery > ul > li:nth-child(4n) {
  grid-column: span 2; /* Spans two columns */
  grid-row: span 2; /* Spans two rows */
}

/* This will create 3x images every 8 elements */
.gallery > ul > li:nth-child(8n) {
  grid-column: span 3;
  grid-row: span 3;
}
.gallery > ul > li > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
