---
layout: layouts/home.njk
templateClass: tmpl-posts-list
permalink: 'posts{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber }}{% endif %}/index.html'
paginationPrevText: 'Newer posts'
paginationNextText: 'Older posts'
paginationAnchor: '#post-list'
pagination:
  data: collections.posts
  size: 4
  alias: postslist
---
<div class="content-main container">
<h1>Posts</h1>

{% include "postslist.njk" %}
{% include "pagination.njk" %}
</div>