---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Posts
  order: 2
templateClass: tmpl-posts-list
---
<div class="content-main container">
<h1>Posts</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
</div>