---
title: All Films by Year
description: Year-based archives of films watched.
permalink: /watching/years/
layout: layouts/base.njk
templateClass: tmpl-tags-list
---
<div class="content-main container">
<h1>Film Log Archives</h1>
<ul class="postlist">
{% set years = collections.filmsByYear | createReverseYearsMapFromObject %}
{% for year, yearArr in years %}
  {% set yearUrl %}/watching/years/{{ year }}/{% endset %}
  <li class="postlist-item">
    <a href="{{ yearUrl | url }}" class="postlist-link">{{ year }}</a> ({{ yearArr.length }})
  </li>
{% endfor %}
</ul>
