---
layout: layouts/home.njk
---
<div class="content-main container">
<h1>Home</h1>

<h2>Latest 3 Posts</h2>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<h2>Recent Books I’ve Read</h2>

{% set bookslist = collections.reading | head(-3) %}
{% set bookslistCounter = collections.reading | length %}
{% include "bookslist.njk" %}

</div>