---
layout: layouts/base.njk
pagination:
  data: collections.postsByYear
  size: 1
  alias: year
permalink: "posts/years/{{ year }}/"
eleventyComputed:
  title: Posts published in {{ year }}
  description: Posts archive for {{ year }}.
eleventyExcludeFromCollections: true
templateClass: tmpl-posts-list
---
<div class="content-main container">
<h1>All posts from {{ year }}</h1>
<div class="post--meta">Browse all <a href="{{ '/posts/years/' | url }}">years</a>.</div>

{% set postslist = collections.postsByYear[ year ] | reverse %}
{% include "postslist.njk" %}
</div>