---
title: Posts by Year
description: Tags used on posts.
permalink: /posts/years/
layout: layouts/base.njk
templateClass: tmpl-tags-list
---
<div class="content-main container">
<h1>Posts by Year</h1>
<ul class="postlist">
{% set years = collections.postsByYear | createMapFromObject %}
{% for year, yearArr in years %}
  {% set yearUrl %}/posts/years/{{ year }}/{% endset %}
  <li class="postlist-item">
    <a href="{{ yearUrl | url }}" class="postlist-link">{{ year }}</a> ({{ yearArr.length }})
  </li>
{% endfor %}
</ul>