---
title: All Posts by Year
description: Year-based archives of posts.
permalink: /posts/years/
layout: layouts/base.njk
templateClass: tmpl-tags-list
---
<div class="content-main container">
<h1>Year Archives</h1>
<div class="post--meta">You can also browse all posts by <a href="{{ '/tags/' | url }}">tag</a>.</div>
<ul class="postlist">
{% set years = collections.postsByYear | createReverseYearsMapFromObject %}
{% for year, yearArr in years %}
  {% set yearUrl %}/posts/years/{{ year }}/{% endset %}
  <li class="postlist-item">
    <a href="{{ yearUrl | url }}" class="postlist-link">{{ year }}</a> ({{ yearArr.length }})
  </li>
{% endfor %}
</ul>