---
title: Tag List
description: Tags used on posts.
permalink: /tags/
layout: layouts/base.njk
templateClass: tmpl-tags-list
---
<div class="content-main container">
<h1>Tag Archives</h1>
<div class="post--meta">You can also browse all posts by <a href="{{ '/posts/years/' | url }}">year</a>.</div>
<ul class="postlist">
{% for tag in collections.tagList%}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <li class="postlist-item">
    <a href="{{ tagUrl | url }}" class="postlist-link">{{ tag }}</a> ({{ collections[tag].length }})
  </li>
{% endfor %}
</ul>