---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/base.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
templateClass: tmpl-tag-detail
---
<div class="content-main container">
<h1>Tagged “{{ tag }}”</h1>
<div class="post--meta">Browse <a href="{{ '/tags/' | url }}">all tags</a>.</div>

{% set postslist = collections[ tag ] | reverse %}
{% include "postslist.njk" %}

<div class="wrapper post--next-previous-link">
  <nav class="pagination--inner pagination--previous-only" aria-label="Pagination links">
  </nav>
</div>
</div>