<ul class="postlist">
{% for book in bookslist %}
  <li class="postlist-item">
  <a href="{{ book.url | url }}" class="postlist-link">
  <div class="book-details">
  <div class="book-cover book-shadow">
    {% figure book.data.cover_image, "", "book-thumb" %}
    </div>
    <div class="book-meta">
      <h1 class="book-meta-title">{{ book.data.title }}</h1>
      <h2 class="book-meta-author">{{book.data.author}}</h2>
      <div class="book-meta-finished">Finished {{ book.data.reading_end_date | readableDate }}</div>
    </div>
</div>
  </article>
  </a>
  </li>
{% endfor %}
</ul>
