<ul class="postlist">
{% for post in postslist %}
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a> 
    <p>{{ post.data.description }}</p>
    <span class="post-meta">Published <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    </span>
  </li>
{% endfor %}
</ul>
