<ul class="postlist">
{% for post in postslist %}
<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
  <article>
{% set displayTitle = post.data.display_title if post.data.display_title else post.data.title %}
  <a href="{{ post.url | url }}" class="postlist-link"><h2 class="postlist-item-title">{% if post.data.title %}{{  displayTitle | markdownInline | safe }}{% else %}<code>{{ post.url }}</code>{% endif %}</h2></a>
  <p>{{ post.data.description | markdownInline | safe }}</p>
  <span class="post--meta">Published <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
  </span>
  </article>
</li>
{% endfor %}
</ul>
