<ol reversed class="postlist" style="counter-reset: start-from {{ projectslist.length + 1 }}">
{% for project in projectslist | reverse %}
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <a href="{{ project.url | url }}" class="postlist-link">{% if project.data.title %}{{ project.data.title }}{% else %}<code>{{ project.url }}</code>{% endif %}</a> 
    <time class="postlist-date" datetime="{{ project.date | htmlDateString }}">{{ project.date | readableDate }}</time>
    <p>{{ project.data.description }}</p>
  </li>
{% endfor %}
</ol>
