<!doctype html><html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-a11y-dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="icon" href="/img/meta/favicon.svg" type="image/svg+xml" />

    <!-- Open Graph tags -->
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ metadata.profile_image }}" />
    <meta property="og:url" content="{{ metadata.url + page.url }}" />
    <meta property="og:title" content="{{ renderData.title or title or metadata.title }} - {{ metadata.domain }}" />
    <meta property="og:description" content="{{ renderData.description or description or metadata.description }}" />

    <!-- Twitter Card tags-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@dirtystylus">
    <meta name="twitter:domain" value="{{ metadata.domain }}" />
  </head>
  <body>
    <header>
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
      {%- for item in navigation.items %}
        <li class="nav-item"><a href="{{ item.url | url }}" {{helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a></li>
      {%- endfor %}
      </ul>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
      <div class="footer--copyright">Copyright © {{ site.buildTime | date("Y") }} Mark Llobrera.
      <ul class="nav">
      {%- for item in navigation.footer_items %}
        <li class="nav-item"><a href="{{ item.url | url }}" {{helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a></li>
      {%- endfor %}
      </ul>
      </div>       
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
