<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-a11y-dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/photoswipe/photoswipe.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/photoswipe/default-skin/default-skin.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="icon" href="/img/meta/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/touchicon-196.png" sizes="196x196" />

    <script src="{{ '/js/photoswipe.min.js' | url }}"></script> 
    <script src="{{ '/js/photoswipe-ui-default.min.js' | url }}"></script> 
    <script src="{{ '/js/photoswipe-dom.js' | url }}" defer></script> 

    <!-- Open Graph tags -->
    {% set ogUrl %}{{ page.url | url | absoluteUrl(metadata.url) }}{% endset %}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ ogUrl }}" />
    <meta property="og:title" content="{{ title or metadata.title }}" />
    {% if content_type == "book" %}
    {% set bookThumbnail = metadata.feed_reading.img_base_url + cover_image %}
    <meta property="og:image" content="{{ bookThumbnail }}" />
    <meta property="og:description" content="by {{ author }}" />
    {% else %}
    <meta property="og:image" content="{{ metadata.profile_image }}" />
    <meta property="og:description" content="{{ description or metadata.description }}" />
    {% endif %}


    <!-- Twitter Card tags-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@dirtystylus">
  </head>
  <body>
    <header>
      <span class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></span>

      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
      {%- for item in navigation.items %}
        <li class="nav-item"><a href="{{ item.url | url }}" {{helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a></li>
      {%- endfor %}
      </ul>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
      <div class="footer--copyright">Copyright © {{ site.buildTime | date("yyyy") }} Mark Llobrera.
      <ul class="nav">
      {%- for item in navigation.footer_items %}
        <li class="nav-item"><a href="{{ item.url | url }}" {{helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a></li>
      {%- endfor %}
      </ul>
      </div>       
    </footer>

    <!-- Current page: {{ page.url | url }} -->
    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe. 
            It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. 
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div> 
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>
  </body>
  </html>