---
layout: layouts/base.njk
templateClass: tmpl-home
---
<div class="content-main container">
<h1>Welcome.</h1>
<div class="home--bio">
{{ content | safe }}
</div>
<hr>
<h2>A Few Recent Posts</h2>

{% set postslist = collections.posts | head(3) %}
{% include "postslist.njk" %}

<hr>

<h2>Books I’ve Read Recently</h2>

{% set bookslist = collections.reading | head(3) %}
{% include "bookslist.njk" %}

<hr>

<h2>Films I’ve Watched Recently</h2>

{% set filmslist = letterboxd | head(3) %}
{% include "filmslist.njk" %}


</div>