---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article class="content-main container">
<h1>{{ title }}</h1>
<div class="post--meta"><time>{{ date | readableDate }}</time></div>
{{ content | safe }}
{% include "partials/single-pagination.njk" %}
</article>