---
layout: layouts/base.njk
templateClass: tmpl-reading
---
<h1>{{ title }}</h1>
<h2>{{ author }}</h2>
<dl>
  <dt>Start Date</dt>
  <dd>{{ start_date }}</dd>
  <dt>End Date</dt>
  <dd>{{ end_date }}</dd>
  <dt>Format</dt>
  <dd>{{ format }}</dd>
  <dt>Genre</dt>
  <dd>{{ genre }}</dd>
</dl>

{{ content | safe }}

<p><a href="{{ '/' | url }}">← Home</a></p>
